# Data Science Tools and Ecosystem

**Objectives:**

In this notebook, Data Science Tools and Ecosystem are summarized.

* list of popular languages
* list of commonly used libraries
* examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Seaborn

|Data Science Tools |
| ------ |
| Jupyter Lab |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
hours, minutes =  200 // 60, 200 % 60
print(f"200 convert to {hours} hours and {minutes} minutes")

200 convert to 3 hours and 20 minutes

## Author
Atdhe Ahmeti